
@{
    ViewBag.Title = "EmployeeForm";
}

<h2>EmployeeForm</h2>

<form action="DisplayEmployee1" method="post">
    <b>EmpID : </b> <input type="text" name="txtEmpID" value=" " />  <br />

    <b>Emp Name : </b> <input type="text" name="txtName" value=" " /> <br />

    <b>Salary : </b> <input type="text" name="txtSalary" value=" " />   <br />

    <input type="submit" name="btnSubmit" value="Submit" />
</form>

